{% extends 'base.html.twig' %}
{% block title %}Consent Required{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s8 m6 offset-m2 center">

            <h2>{{ app_name }}</h2>
            <h4>wants to sign in</h4>
            <div class="center"><img src="{{ asset('logo/jacq.png') }}" alt="JACQ logo"/></div>
            <div class="container">
                <p><strong>{{ app_name }}</strong> would like to access the
                    following {% if has_existing_scopes %}additional {% endif %}information about you:</p>
                <ul class="collection">
                    {% for scope in scopes %}
                        <li class="collection-item">{{ scope }}</li>
                    {% endfor %}
                </ul>
                {% if has_existing_scopes %}
                    <p>{{ app_name }} can already access the following information:</p>
                    <ul class="collection">
                        {% for scope in existing_scopes %}
                            <li class="collection-item">{{ scope }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p>To allow this access, click the button below.</p>
            </div>


            <form action="{{ path('app_consent', app.request.query.all) }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('consent') }}">
                <p>
                    <button class="btn green darken-1" tabindex="1" type="submit"
                            name="consent" value="yes">Allow
                    </button>
                </p>
                <p>
                    <button class="btn red lighten-2" tabindex="2"
                            type="submit" name="consent" value="no">Deny
                    </button>
                </p>
                <p><a href="#">Manage app access to your information</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
