{% extends 'output/main.html.twig' %}

{% block main %}

    <div class="container">
        <div class="row">
            <div id="map-institutions" style="height: 60vh;" data-institutions='[
                                {% for i in institutions %}
                                    {"lat": {{ i.lat }}, "lon": {{ i.lon }}, "name": "{{ i.IH_description|e('js') }}", "link": "{{ i.IH_link|e('js') }}"}{% if not loop.last %},{% endif %}
                                {% endfor %}
                             ]'>
            </div>
        </div>

        {% set count = countries|length %}
        {% set half = (count / 2)|round(0, 'ceil') %}

        {% import _self as m %}
        <div class="row">
            <div class="col s6">
                {{ m.renderCountries(countries|slice(0, half)) }}
            </div>

            <div class="col s6">
                {{ m.renderCountries(countries|slice(half)) }}
            </div>
        </div>

    </div>

{% endblock %}

{% macro renderCountries(countries) %}
    <ul class="collapsible">
        {% for country in countries %}
            <li>
                <div class="collapsible-header">
                    <i class="fas fa-angle-down"></i>{{ country.nameEng }}
                </div>

                <div class="collapsible-body">
                    <ul>
                        {% for institution in country.institutions %}
                            <li>{% if institution.createdAt > date('-6 months') %}
                                    ! NEW !
                                {% endif %}
                                {% if institution.IHLink %}
                                    <a href="{{ institution.IHLink }}" target="_blank">
                                        {{ institution.IHDescription }}
                                    </a>
                                {% else %}
                                    {{ institution.IHDescription }}
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
