{# debug list of form fields #}
{#    {% for key, value in data %} #}
{#        {{ key }}: {{ value }}<br> #}
{#    {% endfor %} #}

<div class="divider"></div>
<div class="row">
    <div class="s12 m8 col offset-m2">
        <br>
        <button id="specimensMapTrigger" class="btn waves-effect tooltipped" type="button"  value="Create map" data-position="bottom" data-tooltip="Map view is limited to {{ constant('App\\Service\\KmlService::EXPORT_LIMIT') }} rows, takes approx 5 sec." data-kmlsource="{{ path('app_front_exportKml') }}">Create map</button>
        <a href="{{ path('app_front_exportKml') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\KmlService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download KML</button>
        </a>
        <a href="{{ path('app_front_exportExcel') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\ExcelService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download XLSX</button>
        </a>
        <a href="{{ path('app_front_exportOds') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\ExcelService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download ODS</button>
        </a>
        <a href="{{ path('app_front_exportCsv') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\ExcelService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download CSV</button>
        </a>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="s12 m3 col"><b>{{ recordsCount|number_format }} record{% if recordsCount|length >1 %}s{% endif %}
            found</b></div>
    <div class="s12 m6 col">
        <ul class="pagination">
            {# previous page #}
            {% if sessionService.getSetting('page',1) > 1 %}
                <li class="page" data-number="{{ sessionService.getSetting('page',1) - 1 }}"
                    data-path="{{ path('app_front_databaseSearchSettings') }}">
                    <button class="waves-effect btn">&lt;</button>
                </li>
            {% endif %}

            {# page range #}
            {% for page in pages %}
                {% if page == sessionService.getSetting('page',1) %}
                    <li><strong>
                            <button class="waves-effect btn active">{{ page }}</button>
                        </strong></li>
                {% elseif page is same as ('...') %}
                    <li> ....</li>
                {% else %}
                    <li class="page" data-number="{{ page }}"
                        data-path="{{ path('app_front_databaseSearchSettings') }}">
                        <button class="waves-effect btn">{{ page }}</button>
                    </li>
                {% endif %}
            {% endfor %}

            {# Odkaz na následující stránku #}
            {% if sessionService.getSetting('page',1) < totalPages %}
                <li class="page" data-number="{{ sessionService.getSetting('page',1) + 1 }}"
                    data-path="{{ path('app_front_databaseSearchSettings') }}">
                    <button class="waves-effect btn">&gt;</button>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="s8 m2 col">
        <form>
            <div class="input-field">
                <select id="recordsPerPage" name="recordsPerPage"
                        data-path="{{ path('app_front_databaseSearchSettings') }}">
                    {% for value in recordsPerPage %}
                        <option value="{{ value }}"
                                {% if value == sessionService.getSetting('recordsPerPage',10) %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                <label for="recordsPerPage">Items per Page</label>
            </div>
        </form>
    </div>

</div>
<div class="row">
    <table id="result-table" class="striped responsive-table">
        <thead>
        <tr>
            <th></th>
            <th class="resulttax">Taxon</th>
            <th class="resultcol">Collector</th>
            <th class="result">Date</th>
            <th class="result">Location</th>
            <th class="result">Typus</th>
            <th class="result">Collection Herb.#</th>
            <th class="result">Lat/Lon</th>
        </tr>
        </thead>
        <tbody>
        {% for key, specimen in records %}
            {% include 'front/home/searchRecord.html.twig' with {'specimen': specimen} only %}
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


