{% extends 'front/main.html.twig' %}

{% block main %}
    <!-- head -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="tooltipped" data-position="bottom" data-tooltip="#info">Database Search <a
                        class="modal-trigger" href="#search-info"><i class="far fa-question-circle fa-sm"></i></a></h5>
                <!-- Search Info Modal -->
                <div id="search-info" class="modal">
                    <div class="modal-content">
                        <h4>Search Tips</h4>
                        <blockquote>
                            <p>The Search is <strong>not case sensitive</strong>.</p>
                            <p>Fields are automatically <strong>linked by AND</strong></p>
                            <p>For partial strings the <strong>% sign can be used as a wildcard</strong></p>
                            <p>Queries for a Genus can be sent as "genus name" "blank space" and the "%" sign:
                                Searchstring "Oncidum %" yields all data for Oncidium.</p>
                            <p>Typing the initial Letters for "genus" and "epithet" are sufficient as Search Criteria:
                                "p bad" yields all Taxa where genus starts with "p" and Epithet starts with "bad".
                                Results include e.g. p badia Hepp, Peziza badia Pers. or Poa badensis Haenke ex
                                Willd.</p>
                            <p>Search on Synonymy has been implemented for nomenclatural and taxonomic questions. If the
                                "incl. syn." checkbox is activated (default), known nomenclatural and taxonomic synonyms
                                will be returned with the search result</p>
                        </blockquote>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <!-- form -->
    <div class="container">
        <form id="searchForm" action="{{ path('app_front_databaseSearch') }}" method="POST" data-prefilled="{% if sessionService.hasFilters() %}1{% else %}0{% endif %}">
            <div class="row">
                <!-- Taxon -->
                <div class="col s12 m6">
                    <div class="input-field ">
                        <input value="{{ sessionService.getFilter('taxon')}}" name="taxon" id="taxon" type="text">
                        <label for="taxon">Scientific name</label>
                    </div>
                    <!-- Institution -->
                    <div class="input-field ">
                        <select id="institution" name="institution" data-source="{{ path('app_front_collectionsSelectOptions') }}">
                            <option value="">all herbaria</option>
                            {% for id, name in institutions %}
                                <option value="{{ id }}" {% if sessionService.getFilter('institution') == id %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                        <label for="institution">Search in</label>
                    </div>
                    <!-- Collector -->
                    <div class="input-field ">
                        <input value="{{ sessionService.getFilter('collector')}}" name="collector" type="text">
                        <label for="collector">Collector</label>
                    </div>

                </div>
                <div class="col s12 m6">
                    <!-- Family -->
                    <div class="input-field ">
                        <input value="{{ sessionService.getFilter('family')}}" name="family" type="text">
                        <label for="family">Family</label>
                    </div>
                    <!-- Herbar Number -->
                    <div class="input-field ">
                        <input value="{{ sessionService.getFilter('herbNr')}}" name="herbNr" id="herbNr" type="text">
                        <label for="herbNr">Herbar Nr#</label>
                    </div>

                    <!-- Collector Number -->
                    <div class="input-field  ">
                        <input value="{{ sessionService.getFilter('collectorNr')}}" name="collectorNr" id="collectorNr" type="text">
                        <label for="collectorNr">Collector Nr#</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Extended Search -->
                <div class="col s12">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-angle-down"></i>Extended Search</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <!-- Ident. History -->
                                        <div class="input-field">
                                            <input name="taxonAlternative" id="taxonAlternative" type="text" value="{{ sessionService.getFilter('taxonAlternative')}}">
                                            <label for="taxonAlternative">Ident. History</label>
                                        </div>
                                        <div class="input-field">
                                            <select id="collection" name="collection">
                                                <option value="">all subcollections</option>
                                                {% for id, name in collections %}
                                                    <option value="{{ id }}" {% if sessionService.getFilter('collection') == id %}selected{% endif %}>{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="collection">Search in</label>
                                        </div>
                                        <!-- Series -->
                                        <div class="input-field">
                                            <input name="series" id="series" type="text" value="{{ sessionService.getFilter('series')}}">
                                            <label for="series">Series</label>
                                        </div>
                                        <!-- Country -->
                                        <div  class="input-field">
                                            <input id="country" name="country" type="text" value="{{ sessionService.getFilter('country')}}">
                                            <label for="country">Country</label>
                                        </div>
                                        <!-- Habitat -->
                                        <div class="input-field">
                                            <input name="habitat" id="habitat" type="text" value="{{ sessionService.getFilter('habitat')}}">
                                            <label for="habitat">Habitat</label>
                                        </div>
                                        <div class="input-field">
                                            <input name="annotation" id="annotation" type="text" value="{{ sessionService.getFilter('annotation')}}">
                                            <label for="annotation">Annotation</label>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <!-- CollectionDate -->
                                        <div class="input-field">
                                            <input name="collectionDate" id="collectionDate" type="text" value="{{ sessionService.getFilter('collectionDate')}}">
                                            <label for="collectionDate">Collection date</label>
                                        </div>
                                        <!-- Collection Number -->
                                        <div class="input-field">
                                            <input name="collectionNr" id="collectionNr" type="text" value="{{ sessionService.getFilter('collectionNr')}}">
                                            <label for="collectionNr">Collection Nr#</label>
                                        </div>

                                        <!-- Locality -->
                                        <div class="input-field">
                                            <input name="locality" id="locality" type="text" value="{{ sessionService.getFilter('locality')}}">
                                            <label for="locality">Locality</label>
                                        </div>

                                        <!-- State/Province -->
                                        <div class="input-field">
                                            <input id="province" name="province" type="text" value="{{ sessionService.getFilter('province')}}">
                                            <label for="province">State/Province</label>
                                        </div>

                                        <!-- Habitus -->
                                        <div class="input-field">
                                            <input name="habitus" id="habitus" type="text" value="{{ sessionService.getFilter('habitus')}}">
                                            <label for="habitus">Habitus</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- All Records/Type Records -->
                <div class="input-field col s4">
                    <div class="center-align">
                        <div class="switch">
                            <label>
                                Only display Type Records
                                <input type="checkbox" id="checkbox_type" name="onlyType" {% if sessionService.getFilter('onlyType') == 'on' %}checked{% endif %}>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Images -->
                <div class="input-field col s4">
                    <div class="center-align">
                        <div class="switch">
                            <label>
                                Only display Records with Images
                                <input type="checkbox" id="checkbox_images" name="onlyImages" {% if sessionService.getFilter('onlyImages') == 'on' %}checked{% endif %}>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Synonym -->
                <div class="input-field col s4">
                    <div class="center-align">
                        <div class="switch">
                            <label>
                                Incl. synonym search
                                <input type="checkbox" id="checkbox_synonym" name="includeSynonym" {% if sessionService.getFilter('includeSynonym') == 'on' %}checked{% endif %}>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Submission -->
                <div class="col s12">
                    <div class="center-align">
                        <button class="btn waves-effect" type="submit">
                            Search
                        </button>
                        <button class="btn waves-effect"><a href="{{ path('app_front_database', {'reset': 'true'})}}" id="reset">Reset</a></button>
                    </div>
                </div>
            </div>
        </form>

                <div id="progressBar" class="progress progress-search hide">
                    <div class="indeterminate"></div>
                </div>

    </div>
    <!-- results -->
    <div  id="results" class="container"></div>

    <div id="map-modal" class="modal">
        <div class="modal-content">
            <h4>Map</h4>
            <div id="map" style="height: 400px;"></div>
        </div>
    </div>
{% endblock %}
