{% extends 'front/main.html.twig' %}

{% block main %}

    {% if specimen is null %}
        <div class="container">
            <div class="row">
                {#         TODO this is ackward image #}
                <img src="{{ asset('recordIcons/not_found.png') }}" alt="image not found">
            </div>
        </div>
    {% elseif specimen.isAccessibleForPublic() == false %}
        <div class="container">

            <div class="row">
                {#   TODO this is ackward image and should return http codes, not images.. #}
                <img src="{{ asset('recordIcons/access_denied.jpg') }}" alt="access denied">
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col s12 l5 offset-l1 condensed">
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Stable identifiers</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen | pid | raw }}</b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Herbarium #</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen | herbariumNr | raw }}</b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Collection #</h7>
                        </div>
                        <div class="col s12 m9">
                            <p><b>{{ specimen.getHerbCollection().getName() }} {{ specimen.getCollectionNumber() }}</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Stored under taxonname</h7>
                        </div>
                        <div class="col s12 m9"><p><b></b></p>
                            <b>{{ specimen | taxonName | raw }}</b>

                            <a href="http://www.tropicos.org/NameSearch.aspx?name={{ specimen | tropicos }}&exact=true"
                               title="Search in tropicos" target="_blank">
                                <img alt="tropicos" src="{{ asset('recordIcons/tropicos.png') }}" width="16"
                                     height="16">
                            </a>
                            {{ specimen.getId() | taxonAuthority | raw | nl2br }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Family</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen.getSpecies().getGenus().getFamily().getName() }}</b>
                            </p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Det./rev./conf./assigned</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen.getDetermination() }}</b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Ident. history</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen.getTaxonAlternative() }}</b></p>
                            {{ specimen | typusText | raw }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Collector</h7>
                        </div>
                        <div class="col s12 m9"><p>
                                <b>{{ specimen | collector | raw }} {{ specimen | collectorBotanyPilot | raw }}</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Date</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen.getDate() }}</b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Location</h7>
                        </div>
                        <div class="col s12 m9">
                            {% if specimen.hasCoords() %}
                                <div id="map" style="height: 200px; width: 80%;"
                                     data-gps="{{ specimen.getCoords() }}"></div>
                            {% endif %}
                            <p><b>{{ specimen | localityLong | raw }}</b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Label</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen.getLocality() | nl2br }}
                                    {% if specimen.getAltitudeMin() is not empty %}
                                        Alt. {{ specimen.getAltitudeMin() }}
                                        {% if specimen.getAltitudeMax() is not empty %} - {{ specimen.getAltitudeMax() }}
                                        {% endif %}
                                    {% endif %}
                                </b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Habitat</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen.getHabitat() | nl2br }}</b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Habitus</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen.getHabitus() }}</b></p></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3">
                            <h7>Annotations</h7>
                        </div>
                        <div class="col s12 m9"><p><b>{{ specimen | annotation }}</b></p></div>
                    </div>

                    {#                    TODO not implemented #}
                    {#                    <div class="row"> #}
                    {#                        <div class="col s12 m3"> #}
                    {#                            <h7>Annosys annotations </h7> #}
                    {#                        </div> #}
                    {#                        <div class="col s12 m9"><p><b> #}
                    {#                                     not implemented #}
                    {#                                </b></p></div> #}
                    {#                    </div> #}
                </div>
                <div class="col s12 l6">
                    {{ specimen | photoIframe | raw }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
