{% extends 'base.html.twig' %}
{% block title %}JACQ - Virtual Herbaria{% endblock %}

{% block body %}
    <div class="navbar-fixed">
        <nav class="nav-extended white">
            <div class="nav-wrapper">
                <div style="height: 45px"><a href="{{ path('app_front_index') }}">
                        <img class="main-logo" src="{{ asset('logo/jacq/jacq.png') }}" alt="JACQ Logo"></a></div>
                <ul>
                    <li class="{% if app.request.attributes.get('_route') == 'app_front_index' %}active{% endif %}">
                        <a href="{{ path('app_front_index') }}">Home</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'app_front_database' %}active{% endif %}">
                        <a href="{{ path('app_front_database') }}">Database</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'app_front_collections' %}active{% endif %}">
                        <a href="{{ path('app_front_collections') }}">Collections</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'app_front_systems' %}active{% endif %}">
                        <a href="{{ path('app_front_systems') }}">Systems</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="page-footer center white">
        <hr>
        <a href="{{ path('app_front_imprint') }}">Imprint | Citation | Privacy</a>
    </footer>
{% endblock %}
