<tr>
    <td>
        {% if specimen.isObservation() or specimen.hasImageObservation() or specimen.hasImage() %}

            {% if specimen.isObservation() and not specimen.hasImageObservation() %} {#  has no link #}
                <img height="15" alt='' src="{{ asset('recordIcons') }}/{{ specimen.getImageIconFilename() }}"
                     width="15"/>
            {% else %}
                {% if (specimen.getHerbCollection().getInstitution().getImageDefinition() is not null and specimen.getHerbCollection().getInstitution().getImageDefinition().isIiifCapable()) or (specimen.getPhaidraImages() is not empty) %}

                    <a href='{{ specimen.getHerbCollection().getInstitution().getImageDefinition().getIiifUrl() }}?manifest={{ specimen|manifestUrl }}'
                       target='imgBrowser'>
                        <img height='15' width="15" alt=''
                             src="{{ asset('recordIcons') }}/{{ specimen.getImageIconFilename() }}">
                    </a><br>
                    <a href='{{ specimen.getHerbCollection().getInstitution().getImageDefinition().getIiifUrl() }}?manifest={{ specimen|manifestUrl }}'
                       target='_blank'>
                        <img height='15' width='15' alt='' src='{{ asset('recordIcons') }}/logo-iiif.png'>
                    </a>
                {% else %}
                    <a href='{{ path('app_front_image_endpoint', { 'filename': specimen.getId() }) }}'
                       target='imgBrowser'><img height='15' width="15" alt=''
                                                src="{{ asset('recordIcons') }}/{{ specimen.getImageIconFilename() }}"></a>
                {% endif %}
            {% endif %}
        {% endif %}
    </td>
    <td>
        <a href='{{ path('app_front_specimenDetail', {'id': specimen.getId() }) }}'>{{ specimen | scientificName }}</a>
        {{ specimen.getSpecies().getId() | taxonAuthority | raw }}
    </td>
    <td>{{ specimen | collector | raw }}</td>
    <td>{{ specimen.getDate() }}</td>
    <td>{{ specimen | locality | raw }}</td>
    <td>{{ specimen | typus | raw }}</td>
    {{ specimen | institution | raw}}
    <td>{{ specimen | gps | raw}}</td>
</tr>
