{% extends 'front/main.html.twig' %}
{% block title %}Develop Symfony overview{% endblock %}

{% block main %}
    <div class="container">
        <a href="{{ path('app.swagger') }}">REST Swagger JSON</a><br/>
        <a href="{{ path('app.swagger_ui') }}">REST Swagger UI</a><br/>
        <a href="{{ path('deve_rest') }}">REST service info</a><br/>

        <a href="{{ path('app_front_checkDjatokaServers') }}">checkDjatokaServers</a><br/>
        <a href="{{ path('app_front_jacqStatistics') }}">jacqStatistics</a><br/>

<div class="row">
    <h5>TODO </h5>
    <p>SELECT * FROM `tbl_specimens` where Sammler_2ID IS NULL; | SELECT * FROM `tbl_specimens` where Sammler_2ID = 0; - all zeros should be replaced by NULL</p>
</div>
    </div>
{% endblock %}
