{% set collector = specimen.collector %}
{% if collector is not null %}
    {% if collector.wikidataId is not empty %}
        <a href="{{ collector.wikidataId }}" title="wikidata" target="_blank" class="leftnavi">
            <img src="/logo/institutions/wikidata.png" alt="wikidata" width="20px">
        </a>&nbsp;
    {% endif %}
    {% if collector.huhId is not empty %}
        <a href="{{ collector.huhId }}" title="Index of Botanists (HUH)" target="_blank" class="leftnavi">
            <img src="/logo/institutions/huh.png" alt="Index of Botanists (HUH)" height="20px">
        </a>&nbsp;
    {% endif %}
    {% if collector.viafId is not empty %}
        <a href="{{ collector.viafId }}" title="VIAF" target="_blank" class="leftnavi">
            <img src="/logo/institutions/viaf.png" alt="VIAF" width="20px">
        </a>&nbsp;
    {% endif %}
    {% if collector.orcidId is not empty %}
        <a href="{{ collector.orcidId }}" title="ORCID" target="_blank" class="leftnavi">
            <img src="/logo/institutions/orcid.logo.icon.svg" alt="ORCID" width="20px">
        </a>&nbsp;
    {% endif %}
{% endif %}

{% set bloodhound = getBloodHoundId(specimen.collector) %}
{% if bloodhound is not null %}
    <a href="{{ bloodhound }}" target='_blank' title='Bionomia'><img src='/logo/institutions/bionomia_logo.png' alt='Bionomia' width='20px'></a>
{% endif %}

{{ getCollectionText(specimen) }}

{% if specimen.ncbiAccession is not empty %}
    &mdash; {{ specimen.ncbiAccession }}
    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=Nucleotide&cmd=search&term={{ specimen.ncbiAccession }}" target="_blank">
        <img src="/logo/institutions/ncbi.gif" alt="NCBI" width="14" height="16">
    </a>
{% endif %}

