{# debug list of form fields #}
{#    {% for key, value in data %} #}
{#        {{ key }}: {{ value }}<br> #}
{#    {% endfor %} #}

<div class="divider"></div>
<div class="row">
    <div class="s12 m8 col offset-m2">
        <br>
        <button id="specimensMapTrigger" class="btn waves-effect tooltipped" type="button"  value="Create map" data-position="bottom" data-tooltip="Map view is not limited, it could hang some moment." data-kmlsource="{{ path('output_exportKmlLimited') }}">Create map</button>
        <a href="{{ path('output_exportKml') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\KmlService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download KML</button>
        </a>
        <a href="{{ path('output_exportExcel') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\ExcelService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download XLSX</button>
        </a>
        <a href="{{ path('output_exportOds') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\ExcelService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download ODS</button>
        </a>
        <a href="{{ path('output_exportCsv') }}" download>
            <button class="btn waves-effect tooltipped" data-position="bottom" data-tooltip="Download is limited to {{ constant('App\\Service\\ExcelService::EXPORT_LIMIT') }} rows, takes approx 5 sec.">Download CSV</button>
        </a>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="s12 m3 col"><b>{{ recordsCount|number_format }} record{% if recordsCount|length >1 %}s{% endif %}
            found</b></div>
    <div class="s12 m6 col">
        <ul class="pagination">
            {# previous page #}
            {% if sessionService.getSetting('page',1) > 1 %}
                <li class="page" data-number="{{ sessionService.getSetting('page',1) - 1 }}"
                    data-path="{{ path('output_databaseSearchSettings') }}">
                    <button class="waves-effect btn">&lt;</button>
                </li>
            {% endif %}

            {# page range #}
            {% for page in pages %}
                {% if page == sessionService.getSetting('page',1) %}
                    <li><strong>
                            <button class="waves-effect btn active">{{ page }}</button>
                        </strong></li>
                {% elseif page is same as ('...') %}
                    <li> ....</li>
                {% else %}
                    <li class="page" data-number="{{ page }}"
                        data-path="{{ path('output_databaseSearchSettings') }}">
                        <button class="waves-effect btn">{{ page }}</button>
                    </li>
                {% endif %}
            {% endfor %}

            {# Odkaz na následující stránku #}
            {% if sessionService.getSetting('page',1) < totalPages %}
                <li class="page" data-number="{{ sessionService.getSetting('page',1) + 1 }}"
                    data-path="{{ path('output_databaseSearchSettings') }}">
                    <button class="waves-effect btn">&gt;</button>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="s8 m2 col">
        <form>
            <div class="input-field">
                <select id="recordsPerPage" name="recordsPerPage"
                        data-path="{{ path('output_databaseSearchSettings') }}">
                    {% for value in recordsPerPage %}
                        <option value="{{ value }}"
                                {% if value == sessionService.getSetting('recordsPerPage',10) %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                <label for="recordsPerPage">Items per Page</label>
            </div>
        </form>
    </div>

</div>
<div class="row">
    <table id="result-table" class="striped">
        <thead>
        <tr>
            <th></th>
            <th class="resulttax sortable {% if sessionService.isSortedBy('taxon') %}sorted{% endif %}" data-sort="taxon" data-path="{{ path('output_databaseSearchSettings') }}">Taxon{{ 'taxon' | sortableChar }}</th>
            <th class="resultcol sortable {% if sessionService.isSortedBy('collector') %}sorted{% endif %}" data-sort="collector" data-path="{{ path('output_databaseSearchSettings') }}">Collector{{ 'collector' | sortableChar }}</th>
            <th class="result sortable {% if sessionService.isSortedBy('date') %}sorted{% endif %}" data-sort="date" data-path="{{ path('output_databaseSearchSettings') }}">Date{{ 'date' | sortableChar }}</th>
            <th class="result sortable {% if sessionService.isSortedBy('location') %}sorted{% endif %}" data-sort="location" data-path="{{ path('output_databaseSearchSettings') }}">Location{{ 'location' | sortableChar }}</th>
            <th class="result sortable {% if sessionService.isSortedBy('typus') %}sorted{% endif %}" data-sort="typus" data-path="{{ path('output_databaseSearchSettings') }}">Typus{{ 'typus' | sortableChar }}</th>
            <th class="result sortable {% if sessionService.isSortedBy('collection') %}sorted{% endif %}" data-sort="collection" data-path="{{ path('output_databaseSearchSettings') }}">Collection Herb.#{{ 'collection' | sortableChar }}</th>
            <th class="result sortable {% if sessionService.isSortedBy('coords') %}sorted{% endif %}" data-sort="coords" data-path="{{ path('output_databaseSearchSettings') }}">Lat/Lon{{ 'coords' | sortableChar }}</th>
        </tr>
        </thead>
        <tbody>
        {% for key, specimen in records %}
            {% include 'output/searchForm/searchRecord.html.twig' with {'specimen': specimen} only %}
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


