<tr>
    <td>
        {% if specimen.observation or specimen.imageObservation or specimen.image %}

            {% if specimen.observation and not specimen.imageObservation %} {#  has no link #}
                <img height="15" alt='' src="{{ asset('recordIcons') }}/{{ specimen.getImageIconFilename() }}"
                     width="15"/>
            {% else %}
                {% if (specimen.herbCollection.institution.imageDefinition is not null and specimen.herbCollection.institution.imageDefinition.iiifCapable) or (specimen.phaidraImages is not empty) %}

                    <a href='{{ specimen.herbCollection.institution.imageDefinition.iiifUrl }}?manifest={{ getManifestUrl(specimen) }}'
                       target='imgBrowser'>
                        <img height='15' width="15" alt=''
                             src="{{ asset('recordIcons') }}/{{ specimen.getImageIconFilename() }}">
                    </a><br>
                    <a href='{{ specimen.herbCollection.institution.imageDefinition.iiifUrl }}?manifest={{ getManifestUrl(specimen) }}'
                       target='_blank'>
                        <img height='15' width='15' alt='' src='{{ asset('recordIcons') }}/logo-iiif.png'>
                    </a>
                {% else %}
                    <a href='{{ path('output_image_endpoint', { 'filename': specimen.id }) }}&method=show'
                       target='imgBrowser'><img height='15' width="15" alt=''
                                                src="{{ asset('recordIcons') }}/{{ specimen.getImageIconFilename() }}"></a>
                {% endif %}
            {% endif %}
        {% endif %}
    </td>
    <td>
        <a href='{{ path('output_specimenDetail', {'specimenId': specimen.id }) }}'>{{ getScientificName(specimen) }}</a>
        {{ specimen.species | taxonAuthority | raw }}
    </td>
    <td>{% include 'output/searchForm/collector_links.html.twig' with { 'specimen': specimen } %}</td>
    <td>
        {{ specimen.date }}{{ specimen.date2 ? ' – ' ~ specimen.date2 : '' }}
    </td>
    <td>{{ specimen | locality | raw }}</td>
    <td>{% set first = true %}
        {% for typus in specimen.typus %}
            {% if not first %}
                <br>
            {% endif %}
            <span class="red-text"><b>{{ typus.rank.latinName }}</b></span>
            {% set first = false %}
        {% endfor %}</td>
    {% if specimen.herbCollection.institution.id == '29' %}
        <td title="{{ specimen.herbCollection.name }}">
            {{ specimen.herbNumber }}
        </td>
    {% else %}
        <td title="{{ specimen.herbCollection.name }}">
            {{ specimen.herbCollection.collShortPrj|upper }} {{ specimen.herbNumber }}
        </td>
    {% endif %}
    <td>{% if specimen.getLongitude() is not null or specimen.getLatitude() is not null %}
            <img class="gps" width="15" height="15" src="/logo/institutions/OpenStreetMap.png"
                 data-gps="{{ specimen.getCoords() }}">
        {% endif %}
    </td>
</tr>
